@font-face {
    font-family: "Montserrat";
    src: url("../libs/Montserrat/Montserrat-Light.ttf") format("ttf"),
        /* 300 */
        url("../libs/Montserrat/Montserrat-Regular.ttf") format("ttf"),
        /* 400 */
        url("../libs/Montserrat/Montserrat-Medium.ttf") format("ttf"),
        /* 500 */
        url("../libs/Montserrat/Montserrat-Bold.ttf") format("ttf");
        /* 700 */
}

* {
    font-family: 'Montserrat', sans-serif;
    color: #2D2F3A;
}

h2 {
    font-size: 2.8em;
    font-weight: 700;
}
h3 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -2px;
}
p {
    font-size: 1em;
    font-weight: 300;
}
label {
    margin-bottom: -5px;
}
.botao {
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
}
.botao:focus {
    outline: 0;
}
.botao-pequeno {
    padding: 5px 10px;
}
.botao .mdi {
    color: white;
    font-size: 1em;
}
.botao-verde {
    background-color: #2ecc71;
    box-shadow: 0 0 25px -5px #2ecc71;
}
.botao-azul {
    background-color: #3498db;
    box-shadow: 0 0 25px -5px #3498db;
}
.botao-amarelo {
    background-color: #f1c40f;
    box-shadow: 0 0 25px -5px #f1c40f;
}
.botao-vermelho {
    background-color: #e74c3c;
    box-shadow: 0 0 25px -5px #e74c3c;
}
.page-item.active .page-link {
    background-color: #2ecc71;
    box-shadow: 0 0 25px -5px #2ecc71;
    border-color: #2ecc71;
}